.hFlip-container 
{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hFlipMe
{
	transform: rotateY(180deg);
}

/* flip speed goes here */
.hFlipper 
{
	width: 100%;
	height: 100%;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.hFront, .hBack
{
	width: 100%;
	height: 100%;
	
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.hFront 
{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
    -webkit-transform: rotateY(0);
}

/* back, initially hidden pane */
.hBack 
{
    background: #1D1D1D;
    color: white;
	transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg);
    vertical-align: middle;
}