/* =============================================================================
  Setup
============================================================================= */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

/* =============================================================================
  Header
============================================================================= */
#header
{
    /*width: 960px;
    height: 150px;*/
    height: 15%;
    width: 100%;
    text-align: center;
    background:#222;
    color: white;
}
#headerTitle
{
    height: 100%;
    width: 50%;
    float: left;
}
#headerTitle h1
{
    margin: 20px 0;
}
#headerFilter
{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    float: left;
}

#headerLogoArea
{
  height: 100%;
  width : 35%;
  background-image: url("/TestForJS/imgs/logos/MarvelLogo.png");
  background-size: 100% 100%;
  float: left;
}

#headerNavArea
{
  height: 100%;
  width : 40%;
  float: left;
}

#headerNavArea > .navBox
{
  height: 50%;
  width : 100%;
  background: red;
  float: left;
}

#headerNavArea > #charListNav
{
  background-image: url("/TestForJS/imgs/buttons/charSelected.jpg");
  background-size: 100% 100%;
}

#headerNavArea > #charListNav:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

#headerNavArea > #comicListNav
{
  background-image: url("/TestForJS/imgs/buttons/comicNotSelected.jpg");
  background-size: 100% 100%;
}

#headerNavArea > #comicListNav:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

#headerSearchBtnArea
{
  height: 100%;
  width : 25%;
  /*background: orange;*/
  float: left;
  background-image: url('/TestForJS/imgs/icons/searchIcon1.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 50% 80%;
  cursor: pointer;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#headerSearchBtnArea:hover
{
    background-color: #111;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*Back*/
/*
.hBack > #headerBackNav, #headerBackSearchBtnArea
{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}*/

#headerBackNav
{
  height: 100%;
  width : 25%;
  float: left;
  background-image: url('/TestForJS/imgs/icons/backIcon.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 50% 80%;
  cursor: pointer;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

#headerBackNav:hover
{
    background-color: #FFF;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#headerBackSearchArea
{
  height: 100%;
  width : 50%;
  background: #B22222;
  float: left;
}

#headerBackSearchBtnArea
{
  height: 100%;
  width : 25%;
  float: left;
  background-image: url('/TestForJS/imgs/icons/searchIcon1.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: 50% 80%;
  cursor: pointer;
  transform: rotateY(-180deg);
}

#headerBackSearchBtnArea:hover
{
    background-color: #111;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* =============================================================================
  Content Area
============================================================================= */
#content
{
    height: 85%;
}

/* =============================================================================
  Pagination
============================================================================= */
.centeredPagination
{
    background:#222;
    height: 100%;
}
.pagination {
  display: inline-block;
    height: 95%;
    margin: 0;
    padding: 0;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a {
    display: inline-block;
    color: black;
    background:#DDD;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 5px;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	cursor: pointer;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.centeredPagination {
    text-align: center;
    height: 10%;
}

/* =============================================================================
  ListWindow
============================================================================= */
.listWindow {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: gray;
}

/* =============================================================================
  ListCards
============================================================================= */
.MyClass {
    margin: auto;
    height: 800px;
    width : 800px;
    background-color: #aaa;
    display: block;
}

.meinBox:hover { 
    background-color: yellow;
    width: 50px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* =============================================================================
  Card List Button Style
============================================================================= */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    height: 90%;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}