/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/

html, body
{
    height: 100%;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
}
#Header
{
    /*width: 960px;
    height: 150px;*/
    height: 10%;
    width: 100%;
    text-align: center;
}
#headerTitle
{
    height: 100%;
    width: 50%;
    float: left;
}
#headerTitle h1
{
    margin: 20px 0;
}
#headerFilter
{
    height: 100%;
    width: 50%;
    float: left;
}
#Content
{
    height: 90%;
}

.pagination {
    display: inline-block;
    margin-top: 20px;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.centeredPagination {
    text-align: center;
    height: 10%;
}

.listWindow {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: gray;
}

.MyClass {
    margin: auto;
    height: 800px;
    width : 800px;
    background-color: #aaa;
    display: block;
}

.meinBox:hover { 
    background-color: yellow;
    width: 50px;
}