/* entire container, keeps perspective */
.flip-container 
{
	width: 300px;
	height: 450px;
	perspective: 1000px;
	display: inline-block;
	margin: 20px 5px;
	padding: 0;
	border: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    cursor:pointer;
}

img
{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.flip-onHover:hover .flipper, .flip-container.hover .flipper
{
	transform: rotateY(180deg);
}

.flip-holdClick:active .flipper, .flip-container.hover .flipper
{
	transform: rotateY(180deg);
}

.flipMe
{
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper 
{
	width: 100%;
	height: 100%;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back
{
	width: 100%;
	height: 100%;
	
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front 
{
    background: red;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    -webkit-transform: rotateY(0);
}

/* back, initially hidden pane */
.back 
{
    background: #1D1D1D;
    color: white;
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    vertical-align: middle;
}

/* =============================================================================
  Front Card Style
============================================================================= */
.cardImg
{
	width: 100%;
	height: 90%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.frontCardImg
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cardName
{
	width: 100%;
	height: 10%;
	line-height: 10%;
}

.cardName h2
{
	color: white;
	/*margin: 0;
	padding: 0;*/
	text-align: center;
}

/* =============================================================================
  Back Card Style
============================================================================= */
.backName
{
	height: 15%;
	width: 100%;
	background-color: red;
}
.backName > h2
{
	margin: 0;
	padding: 0;
	padding-top: 10px;
}
.backTitle
{
	height: 0%;
	width: 100%;
	background-color: red;
}
.backDesc
{
	height: 65%;
	width: 100%;
}
.backTitle > h2
{
	display: inline-block;
	vertical-align: middle;
	text-align:center;
	height: 100%;
	width: 80%;
}
.backDesc > h3
{
	display: inline-block;
	vertical-align: middle;
	text-align:center;
	height: 100%;
	width: 90%;
}
.backDesc > p
{
	display: inline-block;
	vertical-align: middle;
	text-align:center;
	height: 100%;
	width: 90%;
}
.statsBar
{
	height: 70%;
	width: 100%;
}
.statBar
{
	height: 17%;
	width: 100%;
	display: inline-block;
}
.statBarIcon
{
	height: 100%;
	width: 20%;
	float: left;
}
.statBarIcon > img
{
	width: 80%;
	height: 80%;
	border-radius: 25%;
	border: 5px solid #555;
}
.statBarBar
{
	height: 100%;
	width: 80%;
	float: left;
}
.detailsBtn
{
	height: 15%;
	width: 100%;
}

/* =============================================================================
  Meter Bar
============================================================================= */
.meter { 
	height: 60%;
	width: 92%;
	position: relative;
	margin: 2.5% 1%;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 2.5%;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}

.blue > span {
	background-color: blue;
	background-image: -moz-linear-gradient(top, blue, #0000CD);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, blue),color-stop(1, #0000CD));
	background-image: -webkit-linear-gradient(blue, #0000CD); 
}

.purple > span {
	background-color: blue;
	background-image: -moz-linear-gradient(top, #BA55D3, #BA55D3);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #BA55D3),color-stop(1, #BA55D3));
	background-image: -webkit-linear-gradient(#BA55D3, #BA55D3); 
}

.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}