/* =============================================================================
  Setup
============================================================================= */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background:#555;
}

/* =============================================================================
  Header
============================================================================= */
#header
{
    /*width: 960px;
    height: 150px;*/
    height: 15%;
    width: 100%;
    text-align: center;
    background:#222;
    color: white;
}
#headerTitle
{
    height: 100%;
    width: 50%;
    float: left;
}
#headerTitle h2
{
    margin: 20px 0;
}

#headerLogoArea
{
  height: 100%;
  width : 35%;
  background-image: url("/TestForJS/imgs/logos/MarvelLogo.png");
  background-size: 100% 100%;
  float: left;
}

#content
{
    height: 85%;
    width: 100%;
    text-align: center;
    background:#555;
    color: white;
}

.cardWindow
{
    height: 800px;
    width: 800px;
    text-align: center;
    background:#777;
    color: white;
    display: inline-block;
    margin-top: 0;
    background-image: url('/TestForJS/imgs/placeHolders/cardImg2.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 90% 90%;
}
.detailsWindow
{
    height: 800px;
    width: 800px;
    text-align: center;
    background:#222;
    color: white;
    display: inline-block;
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

strong
{
    color: #B22222;
}