<div id="myCard1" ontouchstart="TouchStart(this);" ontouchend="TouchEnd(this);" class="flip-container flip-holdClick">
                	<div class="flipper">
                		<div class="front">
                			<div style="background-Image:url('imgs/placeHolders/cardImg1.jpg');" class="cardImg">
                			</div>
                			<div class="cardName">
                			    <h2>Jim "The God" Carrey</h2>
                			</div>
                		</div>
                		<div class="back">
                			<h1>holdClick</h1>
                			<h2>comics:</h2>
            			    <h2>series:</h2>
            			    <h2>stories:</h2>
            			    <h2>events:</h2>
            			    <button onclick="window.location.href='details'" class="btn btn-primary btn-lg sharp">More Details</button>
                		</div>
                	</div>
                </div>
                <div id="myCard2" onclick="CardClicked(this);" class="flip-container">
                	<div class="flipper">
                		<div class="front">
                			<div style="background-Image:url('imgs/placeHolders/cardImg1.jpg');" class="cardImg">
                			</div>
                			<div class="cardName">
                			    <h2>Jim "ToggleClick" Carrey</h2>
                			</div>
                		</div>
                		<div class="back">
                		    <div class="backName">
                    			<h2>Jim "ToggleClick" Carrey</h2>
                			</div>
                			<div class="statsBar">
                			    <span style="font-size:20px">Stats:</span>
                			    <div class="statBar">
                			        <div class="statBarIcon">
                			            <img src="imgs/statsIcons/power.png"></img>
                			        </div>
                			        <div class="statBarBar">
                            			<div class="meter red nostripes">
                                            <span style="width: 80%"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statBar">
                			        <div class="statBarIcon">
                			            <img src="imgs/statsIcons/toughness.png"></img>
                			        </div>
                			        <div class="statBarBar">
                            			<div class="meter blue nostripes">
                                            <span style="width: 40%"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statBar">
                			        <div class="statBarIcon">
                			            <img src="imgs/statsIcons/magic.png"></img>
                			        </div>
                			        <div class="statBarBar">
                            			<div class="meter purple nostripes">
                                            <span style="width: 67%"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statBar">
                			        <div class="statBarIcon">
                			            <img src="imgs/statsIcons/speed.png"></img>
                			        </div>
                			        <div class="statBarBar">
                            			<div class="meter nostripes">
                                            <span style="width: 37%"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statBar">
                			        <div class="statBarIcon">
                			            <img src="imgs/statsIcons/intelligence.png"></img>
                			        </div>
                			        <div class="statBarBar">
                            			<div class="meter orange nostripes">
                                            <span style="width: 57%"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detailsBtn">
                			    <button onclick="window.location.href='details'" class="btn btn-primary btn-lg sharp">More Details</button>
            			    </div>
                		</div>
                	</div>
                </div>
                <div id="myCard3" ontouchstart="TouchStart(this);" ontouchend="TouchEnd(this);" class="flip-container flip-onHover">
                	<div class="flipper">
                		<div class="front">
                			<div style="background-Image:url('imgs/placeHolders/cardImg1.jpg');" class="cardImg">
                			</div>
                			<div class="cardName">
                			    <h2>Jim "The God" Carrey</h2>
                			</div>
                		</div>
                		<div class="back">
                			<h1>onHover</h1>
                			<h2>comics:</h2>
            			    <h2>series:</h2>
            			    <h2>stories:</h2>
            			    <h2>events:</h2>
            			    <button onclick="window.location.href='details'" class="btn btn-primary btn-lg sharp">More Details</button>
                		</div>
                	</div>
                </div>